.data-table {
  display: flex;
  flex-direction: column;
  border-collapse: collapse;
  overflow-x: auto;
  gap: 12px;
  border: 1px solid white;
  border-radius: 4px;
  padding: 10px;
  background-color: white;

  &__title {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
  }

  &__button {
    width: fit-content;
  }

  @media (max-width: 420px) {
    &__title {
      flex-direction: column;
      gap: 8px;
      align-items: flex-start;
    }
  }
}
